.movies {
  width: 100%;
  max-width: 1200px;
}
.movieItem {
    /* background-color: black;
    color: white; */
    border: 0;
    max-width: 100%;
    display: flex;
    flex-direction: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 400px;
   
  
  }
  
  
  .movieBtn {
    padding: 0;
    border-style: none;
    outline: none;
    appearance: none;
    background-color: transparent;
    /* padding: 2%; */
   
  }
  
  .movieTitle {
    max-width: 70%;
  }
  .movieImg img {
    width: 200px;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .favBtn button {
    border-radius: 5px;
    border-style: none;
    outline: none;
    appearance: none;
    /* color: white; */
    padding: 5px ;
    margin-bottom: 10px;
    background-color: transparent;
    cursor: pointer;
   
  }

  .movInfo {
    padding: 1rem 0.7rem 0.3rem 1rem;
    /* background-color: black;
    color: white; */
  
    text-align: left;
    width: 400px;
    max-width: 100%;
   
    
  }
  .info h2 {
    padding: 0;
    margin: 0;
  }